<section>
  <div id="reviews_title">
    <%= render 'reviews/reviews_title', place: place %>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16" id="reviews">
    <% place.reviews.each do |review| %>
      <%= render 'reviews/review', review: review %>
    <% end %>
  </div>
  <% if !place.user_already_reviewed?(current_user) %>
    <div class="h-[0.5px] bg-gray-300 w-full my-6"></div>
  <% end %>
  <div id="add_review">
    <%= render 'reviews/form', review: Review.new, place: place %>
  </div>
</section>
